<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>NSMicrophoneUsageDescription</key>
	<string>Used for voice input to translate speech into text</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Used to convert your spoken words into text for translation</string>
	<key>NSCameraUsageDescription</key>
	<string>Used to photograph text for OCR and translation</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Used to select images containing text for translation</string>
</dict>
</plist>
